*{
	margin: 0;
	padding: 0;
}
body{
	background: #ABABAB;
}
.top{
	width: 400px;
	height: 300px;
	margin: 10px auto;
	background: #fff;
	border: 1px solid #000;
}
.top > textarea{
	width: 398px;
	height: 265px;
	border-bottom: 0;
	float: left;
	outline: none;
	resize:none;
	font-size: 24px;
	color: #ff6700;
}
button{
	width: 50px;
	height: 30px;
	float: right;
	outline: none;
	border: none;
	background: yellowgreen;
	color: #fff;
	cursor: pointer;
}
.bottom{
	width: 400px;
	height: 300px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #000;
}
.bottom .bottom1{
	width: 100%;
	height: 50px;
	border: 1px solid #ff6700;
}